@import "http://webfonts.ru/import/airborne.css";
/*
  Airborne, 400
*/

*{
  font-family: Airborne;
}


img{
  width: 50%;
  border-radius: 20px;
  margin-left: 25%;
  display: block;
  margin-bottom: 20px; 
}

h1{
  text-align: center;

}

.wrapper{
  text-align: center;
}

.buton{
  width: 100px;
  border-radius: 5px;
  background-color: #FFEA00;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border: 1px solid blue;
}

.buton:hover{
  background-color: blue;
  color: yellow;
}